<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ulotna chwila</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/scss" href="./assets/styles.scss">
</head>

<body>
    <form method="post" action="/buyticket">
        <h1>Dziekowka</h1>      
    </form>
</body>

</html>