<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ulotna chwila</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/scss" href="./assets/styles.scss">
</head>

<body>
    <form method="post" action="/">
        <h1>Zarezerwuj miejsce na sztukę</h1>
        <select name="id_sztuki">
            <% plays.forEach(function(play){ %>
                <option id="<%= play.id %>" value="<%= play.id %>"><%= play.nazwa %> | Wolne miejsca: <%= play.wolnemiejsca %> </option>
            <% }); %>
        </select>
        <br>
        Imie: <input type="text" name="imie"><br>
        Nazwisko: <input type="text" name="nazwisko"><br>
        <input type="submit" value="Rezerwuje miejsce!">        
    </form>
</body>

</html>
