<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ulotna chwila</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen" />
</head>

<body>
    <form class="reserve-seat-form" method="post" action="/">
        <h1>Zarezerwuj miejsce na sztukę</h1>
        <select class="plays-option" name="id_sztuki">
            <% plays.forEach(function(play){ %>
            <option class="play-option" id="<%= play.id %>" value="<%= play.id %>"><%= play.nazwa %> | Wolne miejsca:
                <%= play.wolnemiejsca %> </option>
            <% }); %>
        </select> <br><br>
        <input class="play-input" type="text" name="imie" placeholder="Imię"> <br><br>
        <input class="play-input" type="text" name="nazwisko" placeholder="Nazwisko"> <br><br>
        <input class="submit-button" type="submit" value="Rezerwuję miejsce!">
    </form>
</body>

</html>