<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ulotna chwila</title>
    <base href="/personal-data">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/scss" href="./assets/styles.scss">
</head>

<body>
    <form>
        <h1>Podaj imię i nazwisko osoby rezerwujacej</h1>
        <input type="text" id="name" name="title" placeholder="Imię" />  
        <input type="text" id="surname" name="title" placeholder="Nazwisko" />  
        <input type="submit" value="Rezerwuję miejsce!">        
    </form>
</body>

</html>
